<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance-Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/logo.png" >
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="../static/images/3.png" alt="NAN">
            </div>
            <li> <a href="/">Home</a></li>
            <li> <a href="/">Services</a> </li>
            <li> <a href="/">About Us</a> </li>
            <li> <a href="/">Contact Us</a> </li>
        </ul>
    </nav>
  
    <section id="sectionforpicture">
        <div>Welcome to Pankaj Dance Academy</div>
        <div>Eat Sleep Dance Repeat</div>
    </section>

    <section id="sectionforsponser">
        <h2>Our Sponser</h2>
        <div class="sponser"> <img src="../static/images/logo1.png" alt="Sponser Image">
         <img src="../static/images/logo2.png" alt="Sponser Image">
         <img src="../static/images/logo3.png" alt="Sponser Image">
         <img src="../static/images/logo4.png" alt="Sponser Image">
        </div>
    </section>
   
    <footer id="foot">
        Copyright 2022 : Made By Pankaj
    </footer>

</body>
</html>